*{
	margin: 0;
	padding: 0;
}

body {
	background: #e3e3e3;
}

.wrapper {
	width: 410px;	
	margin: 10px auto 40px;
	background: #ffffff;
	padding: 0 50px 65px;
	box-shadow: 1px 1px 1px 1px #ccc,
	            -1px -1px 1px 1px #ccc;
}	

h1 {
	padding-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}

h4{
	font-weight: normal;
	border-top: 1px solid black;
	margin-top: 20px;
	padding-top: 30px;
}

img {    
    margin: 25px 135px 15px 135px;
}

h4, 
p,
a {
	padding-left: 10px;
	margin-bottom: 5px;
	font-size: 18px;
}

h4:first-of-type {
	margin-bottom: 30px;
}

ul {
	padding-left: 30px;
	font-size: 18px;
}

a {
	color: blue;
}
